Game/

Models/

Maya/assets
Maya/autosave
Maya/cache
Maya/clips
Maya/data
Maya/images
Maya/movies
Maya/renderData
Maya/scenes
Maya/sound
Maya/sourceimages
Maya/scripts/io_pdx_mesh-master/
Maya/assets/workspace.mel
Maya/workspace.mel

Tools/Format/Data
Tools/Format/Debug
Tools/Format/Release
*.db

Unity/Assets/SampleScenes/
Unity/Assets/Standard Assets/
Unity/Library/
Unity/ProjectSettings/
Unity/Assets/Meteor/Yan/
Unity/Assets/Meteor/Scenes/
Unity/Assets/Meteor/Meng/
Unity/Assets/Meteor/Materials/
Unity/Assets/Meteor/Bones/
Unity/Assets/Meteor/Leg/
Unity/Assets/Meteor/Prefabs/
*.meta

