Game/

Models/

Maya/assets
Maya/autosave
Maya/cache
Maya/clips
Maya/data
Maya/images
Maya/movies
Maya/renderData
Maya/scenes
Maya/sound
Maya/sourceimages
Maya/scripts/io_pdx_mesh-master/
Maya/assets/workspace.mel
Maya/workspace.mel

Tools/Format/Data
Tools/Format/Debug
Tools/Format/Release
Tools/AmbToTxt/Release/
Tools/AmbToTxt/bin/
Tools/AmbToTxt/Data/
Tools/PoseToJson/PoseToJson/x64/
Tools/PoseToJson/TestTree/

Other/

Unity/Assets/SampleScenes/
Unity/Assets/Standard Assets/
Unity/Library/
Unity/ProjectSettings/
Unity/Assets/Meteor/Yan/
Unity/Assets/Meteor/Scenes/
Unity/Assets/Meteor/Meng/
Unity/Assets/Meteor/Materials/
Unity/Assets/Meteor/Bones/
Unity/Assets/Meteor/Leg/
Unity/Assets/Meteor/Prefabs/

*.meta
*.suo
*.db

UnrealEngine/Meteor/Binaries/
UnrealEngine/Meteor/Saved/
UnrealEngine/Meteor/Intermediate/
UnrealEngine/Meteor/Content/StarterContent/
UnrealEngine/Meteor/Content/ThirdPerson/
UnrealEngine/Meteor/Content/Geometry/
UnrealEngine/Meteor/Content/Mannequin/
UnrealEngine/Meteor/Config/

UnrealEngine/Meteor/Content/Meteor/PModels/Character/
UnrealEngine/Meteor/Content/Meteor/PModels/XLX/
UnrealEngine/Meteor/Content/Meteor/PModels/P0/Animations/
UnrealEngine/Meteor/Content/Meteor/PModels/P0/P0_Animations/
UnrealEngine/Meteor/Content/Meteor/Textures/
UnrealEngine/Meteor/Content/Meteor/Weapons/
UnrealEngine/Meteor/Content/Meteor/UI/Textures/

UnrealEngine/Meteor/build/
Tools/PoseToJson/PoseToJson/PoseFile/
Map_max/
Ref/
